.ticker {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20px;
  margin: 0 auto;
  color: #fff;
}
.news {
  width: 80%;
  background: #727cb6;
  padding: 0 2%;
}
.title {
  width: 20%;
  text-align: center;
  background: #495057;
  position: relative;
}
/* .title:after {
  position: absolute;
  content: "";
  right: -22%;
  border-left: 20px solid #c81c1c;
  border-top: 28px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 21px solid transparent;
  top: 0px;
} */
.title h5 {
  font-size: 13px;
  margin: 2% 0;
}
.news marquee {
  font-size: 13px;
  margin-top: 4px;
}
.news-content p {
  margin-right: 10px;
  display: inline;
}
