<!-- ### Error template ## -->
<script id="error-template" type="text/x-handlebars-template">
    <div class="alert alert-danger alert-dismissible" >
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-2x fa-spin fa-refresh"></i> ERROR:</h4>
        <h5>{{respon}}</h5>
    </div>
</script>
<script id="tpl-loading" type="text/x-handlebars-template">
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-2x fa-spin fa-refresh"></i> Status</h4>
        <h4>{{status}}</h4>
    </div>
</script>
<script id="tpl-review-data" type="text/x-handlebars-template">
    <form id="frm-review">
            <div class="form-group">
                <label>KD Gudang</label>
                <select class="form-control select2" style="width: 100%;" name="kd_gudang">
                    <option selected="selected" value="">#</option>
                    <option value="GBGD">GBGD</option>
                    <option value="GBGF">GBGF</option>
                </select>
            </div>
            <div class="form-group">
                    <label>Gudang Tujuan (Jika di PLP/OB)</label>
                    <select class="form-control select2" style="width: 100%;" name="gudang_tujuan">
                        <option selected="selected" value="">#</option>
                        <option value="GBGD">GBGD</option>
                        <option value="GBGF">GBGF</option>
                        <option value="GBGF">GBGT</option>
                    </select>
                </div>
            <div class="form-group">
                    <label>Dokument In/Out</label>
                    <select class="form-control select2" style="width: 100%;" name="kd_dok_inout">
                        <option selected="selected" value="">#</option>
                        <option value="1">SPPB PIB (BC 2.0)</option>
                        <option value="2">SPPB BC 2.3</option>
                        <option value="3">Persetujuan PLP</option>
                        <option value="4">SPPB BC 1.2</option>
                        <option value="5">BCF 2.6 A (pemeriksaan dilokasi importir / SPPF)</option>
                        <option value="9">BCF 1.5 (Pindah lokasi dari TPS ke TPP untuk Kontainer > 30 hari)</option>
                        <option value="13">PIBK</option>
                        <option value="15">Penimbunan di Luar Kawasan Pabean</option>
                        <option value="19">SPJM</option>
                        <option value="21">Pengeluaran dengan PIB Manual (Cukai)</option>
                        <option value="22">Paket Pos</option>
                        <option value="23">Pengeluaran Barang Untuk Dimusnahkan</option>
                        <option value="20">Dokumen BC 1.1.A / SP3B Impor</option>
                        <option value="34">Dokumen BC 1.1.B / SP3B Ekspor</option>
                        <option value="28">Re-Ekspor (BC 1.2) belum aju PIB</option>
                        <option value="30">Pengeluaran Barang Penegahan (Sebagian)</option>
                        <option value="31">Pengeluaran Barang Penegahan (Seluruhnya)</option>
                    </select>
            </div>
        <div class="form-group">
        <button class="btn btn-success" id="sbt">Submit</button>        
        </div>
    </form>
</script>
<script id="tpl-data-excel" type="text/x-handlebars-template">
    <table id="tbl-excel" class="display table table-striped table-bordered dataTable" cellspacing="0" width="100%">
        <thead>
          <tr>
              <th>No Master</th>
              <th>No House</th>
              <th>BC11</th>
              <th>Flight Date</th>
              <th>Bruto</th>
              <th>Jml</th>
              <th>Consigne</th>
              <th>KD Gudang</th>
              <th>Dokument In/Out</th>
          </tr>
        </thead>
      <tbody>
        {{#each this}}
            <tr>
                <form class="frm">
                <th><input value="{{this.no_master_bl_awb}}" name="mawb" readonly></th>
                <th>{{this.no_bl_awb}}</th>
                <th>{{this.no_bc11}}</th>
                <th>{{this.tg_tiba}}</th>
                <th>{{this.bruto}}</th>
                <th>{{this.jml_kem}}</th>
                <th>{{this.consignee}}</th>
                <th><select class="form-control select2" style="width: 100%;" name="kd_gudang">
                    <option selected="selected" value="">#</option>
                    <option value="GBGD">GBGD</option>
                    <option value="GBGF">GBGF</option>
                </select></th>
                <th><select class="form-control select2" style="width: 100%;" name="kd_dok_inout">
                    <option selected="selected" value="">#</option>
                    <option value="1">SPPB PIB (BC 2.0)</option>
                    <option value="2">SPPB BC 2.3</option>
                    <option value="3">Persetujuan PLP</option>
                    <option value="4">SPPB BC 1.2</option>
                    <option value="5">BCF 2.6 A (pemeriksaan dilokasi importir / SPPF)</option>
                    <option value="9">BCF 1.5 (Pindah lokasi dari TPS ke TPP untuk Kontainer > 30 hari)</option>
                    <option value="13">PIBK</option>
                    <option value="15">Penimbunan di Luar Kawasan Pabean</option>
                    <option value="19">SPJM</option>
                    <option value="21">Pengeluaran dengan PIB Manual (Cukai)</option>
                    <option value="22">Paket Pos</option>
                    <option value="23">Pengeluaran Barang Untuk Dimusnahkan</option>
                    <option value="20">Dokumen BC 1.1.A / SP3B Impor</option>
                    <option value="34">Dokumen BC 1.1.B / SP3B Ekspor</option>
                    <option value="28">Re-Ekspor (BC 1.2) belum aju PIB</option>
                    <option value="30">Pengeluaran Barang Penegahan (Sebagian)</option>
                    <option value="31">Pengeluaran Barang Penegahan (Seluruhnya)</option>
                </select></th>
                </form>
            </tr>
        {{/each}}
      </tbody>
    </table>
    
</script>